h1 {
    color: rgb(255, 83, 4);
    height: 50px;
    margin-top: 30px;

}
.header1 {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.deleteTask {
    display: auto;
    float: right;
}
#integer {
    color: rgb(255, 83, 4);
}
